{% extends "base.html" %}
{% block title %}Editing "{{ page.title|escape }}"{% if settings.wiki_title %} — {{ settings.wiki_title|escape }}{% endif %}{% endblock %}
{% block heads %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<!--
<script type="text/javascript" src="/gae-wiki-static/scripts/markitup/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="/gae-wiki-static/scripts/markitup/sets/markdown/set.js"></script>
-->
<script type="text/javascript" src="/gae-wiki-static/editor.js"></script>
<script type="text/javascript" src="/gae-wiki-static/tinymce/js/tinymce/tinymce.min.js"></script>

{% if page.title != "macros" and page.title != "stylecss" %}
<script type="text/javascript">
(function() {
	tinymce.create('tinymce.plugins.EditSettingsPlugin', {
		init : function(ed, url) {

			// Register commands
			ed.addCommand('mceEdSet', function() {
				ed.windowManager.open({
                    title: "Edit page settings",
                    body: {
                       type:"textbox",               
                       name:"editsettings",
                       multiline:!0,
                       minWidth:600,
                       minHeight:300,
                       value:$("#editor2").val(),
                       spellcheck:!1
                    }, 
                    onSubmit: function(t) { 
                       $("#editor2").val(t.data.editsettings);
                    }
              })
			});

			// Register buttons
			ed.addButton('editsettings', {
				title : 'advlink.link_descaaa',
                image: '/gae-wiki-static/settings.png',
				cmd : 'mceEdSet'
			});
		},

		getInfo : function() {
			return {
				longname : 'Edit settings',
				author : 'Perceptum',
				authorurl : 'http://perceptum.nl',
				version : tinymce.majorVersion + "." + tinymce.minorVersion
			};
		}
	});

	// Register plugin
	tinymce.PluginManager.add('editsettings', tinymce.plugins.EditSettingsPlugin);
})();

tinyMCE.init({

        plugins : [
          "editsettings advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table contextmenu paste"
        ],
        relative_urls: false,
        convert_urls: false,
        mode : "specific_textareas",
        editor_selector : "mceEditor",
        theme_advanced_buttons3_add : "tablecontrols",
        theme_advanced_buttons1: "editsettings",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code editsettings"

});
</script>

{% else %}

<script src="/gae-wiki-static/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/gae-wiki-static/codemirror/codemirror.css">
<script src="/gae-wiki-static/codemirror/mode/jinja2/jinja2.js"></script>
<script>
$(document).ready(function() {
  var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("editor"), {
    mode:  {% if page.title == "macros" %}"jinja2"{% elif page.title == "stylecss"  %}"css"{% endif %}
  });
});
</script>
{% endif %}

{% endblock %}
{% block content %}
  <ul id="tabs">
    <li><a href="{{ page.title|pageurl }}">View</a></li>
    <li class="active"><a href="/w/edit?page={{ page.title|uurlencode }}">Edit</a></li>
    <li><a href="/w/history?page={{ page.title|uurlencode }}">History</a></li>
  </ul>
  <div class="wtabs" id="pb">
    <h1>Page Edit: {% if page.title %}{{ page.title|escape }}{% else %}New page{% endif %}</h1>
    <form action="/w/edit" method="POST" class="markdown editor">
        <input type="hidden" name="name" value="{{ page.title|uurlencode }}"/>
        {#<div>{{ page.parsed_body.text }}</div>#}
        <textarea rows="20" cols="80" name="page_settings" id="editor2" style="display:none">{{ page.format_header() }}</textarea>
        <textarea rows="20" cols="80" class="mceEditor" name="body" id="editor">{% if page.body %}{{ page.body|safe }}{% endif %}</textarea>
		<p>Revision comment: <input type="text" name="comment" value="{% if comment %}{{ comment }}{% endif %}" style="width:30em;"/></p>
        {% if page.is_saved %}
        <p><label><input type="checkbox" value="1" name="delete"/>Delete this page</label></p>
        {% endif %}
        <p class="extl">You can use HTML and <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a> for formatting, <a class="int" href="/w/interwiki" target="_blank">interwikis</a> for linking.</p>
        <p>You can <a href="/w/image/upload" target="_blank">upload images</a> to embed them, or embed <a href="/w/image/list" target="_blank">an existing one</a>.</p>
        <input type="submit" name="Preview" value="Preview"/> or <input type="submit" name="Save" value="Save Changes"/> or <a class="int" href="{{ page.title|pageurl }}">cancel</a>
    </form>
    <h1>Page Preview</h1>
      <div id="preview-back">
      <div id="preview">
      {{ page|wikify_page|safe }}
      {% if page_labels %}
        <p class="categories">{% if settings.labels_text %}{{ settings.labels_text }}{% else %}Labels{% endif %}: {% for label in page_labels %}{% if loop.first %}{% else %}, {% endif %}<a class="int" href="{{ label|labelurl }}">{{ label|escape }}</a>{% endfor %}.</p>
      {% endif %}
      {% if page.comments_enabled %}
        {{ settings.comments_code|safe }}
      {% endif %}
      </div>
      </div>
  </div>
{% endblock %}
